/************************************************
*
*   Main Stylesheet
*   @version (1.0)
*   @date (2023)
*
*   1.) GENERAL ______________________ @general
*   2.) HEADER _______________________ @header
*   3.) MAIN CONTENT _________________ @main
*   4.) FOOTER _______________________ @footer
*
************************************************/

/************************************************
   GENERAL                              @general

   The base styles for the page, text
   and links. Includes utility class styles
************************************************/
:root {
  --bg-color-one: #4BAA94;
  --bg-color-two: #222e50;
  --bg-color-three: #005E70;
  --bg-color-four: #bcd8c1;
  --bg-color-five: #e2e8dd;
  --white: #FFF;
  --black: #000;
  --font-main-style: "Rokkitt", serif;
  --font-sub-style: "Dosis", sans-serif;
  --font-timer-style: "Secular One", sans-serif;
  --font-aboutme-style: "Merienda", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-four);
}
p {
  font-family: var(--font-sub-style);
}
main {
  background-color: var(--white);
}

/************************************************
   HEADER                                @header

   The styles for the header which
   includes a title, an image and a 
   horizontal menu (desktop and mobile)
************************************************/
.banner {
  color: var(--white);
  width: 100%;
  height: 23rem;
  text-align: center;
}
.banner h1 {
  font-family: var(--font-main-style);
  font-weight: 700;
  margin: 1rem;
  font-size: 3rem;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--bg-color-five);
  text-shadow: 1px 1px 0px rgb(19 29 55), 2px 2px 0px rgb(19 29 55 / 80%), 3px 3px 0px rgb(19 29 55 / 60%), 4px 4px 0px rgb(19 29 55 / 40%), 5px 5px 0px rgb(19 29 55 / 20%), 6px 6px 0px rgb(19 29 55 / 10%);
}
@media screen and (min-width: 1200px) {
  .banner h1 {
    margin-bottom: 5rem;
  }
}
.banner .header-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color-two);
  padding: 1rem;
}
@media screen and (min-width: 1200px) {
  .banner .header-wrapper {
    width: 50%;
    margin: 2em auto;
  }
}
.banner .custom-search {
  width: 75%;
  position: relative;
  margin: 0 auto;
}
.banner .custom-search .btn-search {
  cursor: pointer;
  border: 0;
  background: var(--bg-color-three);
  color: var(--white);
  font-family: var(--font-main-style);
  font-weight: 600;
  outline: none;
  margin: 0 0.5rem;
  padding: 1rem;
  font-size: 18px;
}
.banner .custom-search .btn-clear {
  border: 0;
  background: var(--bg-color-one);
  color: var(--black);
  font-family: var(--font-main-style);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  margin: 0 0.5rem;
  padding: 1rem;
  font-size: 18px;
}
.no-data {
  height: 72vh;
  padding: 3rem;
  text-align: center;
}
#search {
  width: 100%;
  padding: 1rem;
  font-size: 18px;
  font-family: var(--font-main-style);
  margin-bottom: 1rem;
}

/************************************************
   MAIN CONTENT                             @main

   The styles for the footer
************************************************/
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 50px;
  padding: 1rem;
  width: 80%;
  max-width: 1200px;
  margin: 3rem auto;
}
.wrapper .artist-card {
  height: auto;
  text-align: center;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 40%), 0px 7px 13px -3px rgb(0 0 0 / 30%), inset 0px -3px 0px rgb(0 0 0 / 20%);
}
.wrapper .artist-card div.post-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--bg-color-four);
}
.wrapper .artist-card a:before,
.wrapper .artist-card a:after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.wrapper .artist-card a:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.wrapper .artist-card a:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.wrapper .artist-card .post-container {
  margin: 20px 20px 0 0;  
  border: 5px solid #333;
  overflow: auto;
}
.wrapper .artist-card .post-thumb {
  float: left;
  height: 6rem;
  width: 6rem;
  margin-right: 1rem;
}
.wrapper .artist-card .post-thumb img {
  display: block;
  padding: 0.25rem;
  width: 100%;
  height: 100%;
}
.wrapper .artist-card .post-content,
.wrapper .artist-card .stream-box {
  height: 8rem;
  padding: 1rem;
}
.wrapper .artist-card .stream-box {
  height: 6rem;
  background-color: var(--bg-color-two);
  color: var(--bg-color-five);
  padding: 1rem;
}
.wrapper .artist-card .stream-box a {
  color: var(--white);
}
.wrapper .artist-card .post-title {
  font-weight: bold;
  font-size: 200%;
}

/************************************************
   FOOTER                                 @footer

   The styles for the footer
************************************************/
.footer {
  text-align: center;
  height: 3rem;
  width: 100%;
  background-color: var(--bg-color-one);
  display: table;
  padding: 0.5rem;
}
.footer h4 {
  font-family: var(--font-sub-style);
  font-size: 1.125rem;
  font-weight: normal;
  color: var(--black);
}
.footer a {
  font-family: var(--font-sub-style);
  font-size: 1.125rem;
  font-weight: normal;
  color: var(--black);
}
.footer div.vertical-center {
  display:table-cell;
}
